{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Administração {% endblock %}

{% block main %}
<div class="row">
    <div class="col">
    
    </div>
    <div class="col-6">
        <h3>Lista de Usuarios</h3>
        <ul class="list-group">
            {% for person in persons %}
                <li class="list-group-item">
                    <a href="{% url 'persons_update' person.id %}">{{ person.nome }}</a>
                    <a href="{% url 'persons_delete' person.id %}" class="trash-item">
                        <i class="fa fa-trash" aria-hidden="false" width="30px"></i>
                        
                    </a>
                </li>
        
            {% endfor %}
        </ul>
        <br>
        
        <a href="{% url 'person_new' %}" class="btn btn-primary">Novo Usuario</a> 
            

    </div>
    <div class="col">

        {% if user.is_authenticated %}
            <p>Ola {{ user.username }}</p>
            <a href="{% url 'logout' %}">
            <span class="badge badge-dark">Logout</span>     
        </a></p>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-info">Login</a>
        {% endif %}
        

    </div>
</div>


<!-- <a href="{% url 'logout' %}">Logout</a> -->

{% endblock %}



